* {
  list-style-type: none;
  outline: none !important;
}

.nav_resume {
  /* margin-left: ; */
}

.bg_dark_blue {
  background-color: #232a38 !important;
}

@media only screen and (max-width: 575px) {
  .nav_resume {
    margin-left: 0px !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.contactSocialBtn {
  padding: 0px 5px !important;
  font-size: 17px !important;
  margin-right: 6px;
}

@media only screen and (max-width: 765px) {
  .bannerPhoto {
    /* display: none !important */
  }
  .bannerText {
    width: 100% !important;
    text-align: center !important;
  }
  .bannerName {
    font-size: 50px !important;
  }
  .allSkillSection {
    display: block !important;
  }
  .skillMenu {
    width: 100% !important;
    display: flex;
    height: 50px !important;
  }
  .skillMenu li {
    width: unset !important;
    display: inline-block !important;
  }
  .skillMenu li a {
    margin-right: 10px !important;
    font-size: 15px !important;
    padding: 5px 8px !important;
    display: inline-block !important
  }
  .pFt {
    display: none;
  }
  .pSt {
    display: block !important;
  }
  .skillSection {
    width: 100% !important;
    padding: 0 !important;
    margin: 10px 0 0 0 !important;
  }
  .skillOnly {
    width: 100% !important;
    margin: 0 0 20px 0 !important;
  }
  .aboutContent {
    display: block !important;
    width: 100% !important;
  }
  .aboutImg {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .aboutText {
    width: 100% !important;
  }
  .aboutText h3 {
    width: 100% !important;
  }
  .contactSectionMain {
    display: block !important;
  }
  .bannerText span {
    width: 100% !important;
  }
  .bannerSocialLinks {
    width: 225px;
    margin: 0 auto !important;
    margin-top: 40px !important;
  }
  .aboutText {
    margin-left: 0px !important;
  }
  .bannerPhoto {
    display: none;
  }
  .bannerPhoto2 {
    display: block !important;
  }
  .bannerMain>div {
    display: block !important;
  }
}

.sectionTitlesBackLine {
  width: 100%;
  height: 1px;
  margin-top: -25px;
  background-color: #bdbdbd;
  margin-left: 3px;
  margin-bottom: 50px;
}

.skillNameBlock {
  padding: 1px 5px 2px 5px;
  background-color: rgb(74 74 73);
  border-radius: 3px;
  color: #ffffff;
  margin-top: 5px;
  margin-right: 6px;
  display: inline;
}

/* Portfolio Loader Css */

.portfolioLoader{
  width: 100% !important;
}
.portfolioLoaderImgSection{
  margin-top: 250px !important;
  margin-bottom: 250px !important;
}
.portfolioLoaderImg{
  width: 100%;
}