.bannerMain{
    padding-top: 100px;
    padding-bottom: 100px;
}

#banner{
    margin-bottom: -1px !important;
}

.bannerName {
    font-size: 70px;
}

.bannerSkill span {
    margin-right: 22px;
    padding-left: 18px;
    font-size: 19px;
    background: url(./../../icon/right.png) no-repeat;
    background-position: center left;
    background-size: 20px;
}

.bannerSocialLinks{
    margin-top: 40px;
    margin-left: 80px;
}

.bannerPhoto2 img{
    margin-bottom: -1px !important;
}

.bannerPhoto2{
    display: none;
}

.bannerSocialBgBorder{
    width: 205px;
    height: 1px;
    background-color: #ffffff;
    margin-top: -21px;
    margin-left: 35px;
}
.bannerSocial{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center left !important;
    background-size: 20px !important;
    margin-right: 25px !important;
    transition: all .3s;
}
.bannerSocialTw{
    margin-right: 0 !important;
}
.bannerSocialGh{
    background: url(./../../icon/github.png) no-repeat;
}
.bannerSocialCp{
    background: url(./../../icon/codepen.png) no-repeat;
}
.bannerSocialMd{
    background: url(./../../icon/medium.png) no-repeat;
}
.bannerSocialIn{
    background: url(./../../icon/linkedin.png) no-repeat;
}
.bannerSocialTw{
    background: url(./../../icon/twitter.png) no-repeat;
}